

.float-menu  #sidebar-inner .sf_info6pro {
    box-shadow: 0 1px 3px 0 rgba(200,200,200,0.8);
    margin-bottom: 1rem;
    z-index: 1;
    border: 1px solid #cac9c8;
}

.float-menu #sidebar-inner .sf_info6pro .leftColumnModuleHead {
    text-align: left;
    padding: 3px 6px;
    font-size: 14px;
    font-weight: 500;
    /*background-color: #edeceb;*/
    /*color: #22262c;*/
    background-color: #ef615d;
    color: #fff;
}

.float-menu #sidebar-inner .sf_info6pro .sidebarMenu {
    max-width: 300px;
    padding: 3px 6px;
}

.theTheme #sidebar-inner .sf_info6pro {
    background-color: #fff;
}
.theTheme #sidebar-inner .sf_info6pro .leftColumnModuleHead {
    padding: 10px;
    font-size: 15.188px;
}

.theTheme #sidebar-inner .sf_info6pro .leftColumnModuleHead {
    background-color: #ef615d;
    color: #fff;
}

.color-blue #sidebar-inner .sf_info6pro .leftColumnModuleHead {
    background-color: #ef615d;
    color: #fff;
    border-radius: 0;
    background-image: none;
    font-size: 12px;
}

.mod-Home #leftCol .sf_info6pro {
    margin-bottom: 1rem;

}
.mod-Home #leftCol .sf_info6pro .leftColumnModuleHead {
    background-color: #ef615d;
    color: #fff;
    background-image: none;
}
